<section>
  <footer>
    <article>
      <span>308 Lumbini Rockdale</span>
      <span>Somajiguda Hyderabad</span>
      <span>AP- 500082 India</span>
      <span>Tel : +40-23399313</span>
    </article>
    <div>
      <p>SkillRecruit is a trading name of Skilliantech</p>
      <img src="../../assets/logo_2.png" height="100" width="150"/>
    </div>
    <aside>
      <span>UK: 034 456 SKILL (75455)</span>
      <span>India: 040 4851 4597</span>
      <span>Copyright © 2018 vijaya@olive. All Rights Reserved.</span>
    </aside>
  </footer>
</section>
