<section>
  <div>
    <h1>OUR FOCUSED <span>INDUSTRY DOMAINS</span></h1>
  </div>
  <article>
    Over the past many years along with technical knowledge,
    we also acquired a wealth of industry/sector specific domain expertise.
    This knowledge helps us to understand our customer's industry/sector
    specific challenges which also has an impact on their resourcing needs and the end result is,
    a domain focused technically specified resourcing services.
  </article>
  <div class="icon">
    <div class="iconlist">
      <mat-icon class="material-icons">home</mat-icon>
      <h4>Home</h4>
    </div>
    <div class="iconlist">
      <mat-icon class="material-icons">build</mat-icon>
      <h4>Public</h4>
    </div>
    <div class="iconlist">
      <mat-icon class="material-icons">account_circle</mat-icon>
      <h4>Utility</h4>
    </div>
    <div class="iconlist">
      <mat-icon class="material-icons">public</mat-icon>
      <h4>Search</h4>
    </div>
    <div class="iconlist">
      <mat-icon class="material-icons">find_in_page</mat-icon>
      <h4>Any</h4>
    </div>
  </div>
</section>
