<section>
  <div>
    <form name="#signUpForm">
      <div>
        <label>Firts Name :</label>
        <input type="text" name="fname" placeholder="Enter First name">
      </div>
      <div>
        <label>Last Name :</label>
        <input type="text" name="lname" placeholder="Enter Last name">
      </div>
      <div>
        <label>Email :</label>
        <input type="email" name="email" placeholder="Enter email Id">
      </div>
      <div>
        <label>DOB :</label>
        <input type="date" name="date" placeholder="selact date">
      </div>
      <div>
        <label>Password :</label>
        <input type="password" name="pwd" placeholder="Enter Password">
      </div>
      <div class="btn_change">
        <button type="button">SignUp</button>
      </div>

    </form>
  </div>

</section>
