header {
  width: 100%;
  font-family: "Open Sans";
  font-size: 2em;
  font-weight: bold;
  color: #fb6707;
  margin: auto;
  display: flex;
  background: rgb(212, 211, 207);
  ul {
    width: 70%;
    li {
      display: inline-block;
      padding: 0.1em 1em;
    }
  }
  aside {
    width: 20%;
    text-align: right;
    margin-top: 0.6em;
  }
}

article {
  margin-top: 2em;
  width: 40em;
  height: 10em;
}
